body{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

div#body{
    font-family: Courier, monospace;
    background-color: #CACACA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

div#enigma{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
}

div#settings{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 8px;
}

div#input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: #523614;
}

div#extras{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#plugboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.rotatorSettings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

div.customSelect > select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    background-color: #786042;
    color: lightsteelblue;
    text-align: left;
    border: 0;
}

div.customSelect{
    width: 112px;
    height: 24px;
    margin: 4px 4px;
    box-shadow: 0 4px grey;
}

.customSelect{
    position: relative;
    overflow: hidden;
    max-width: 112px;
    border-radius: 4px;
}

.customSelect::after{
    content: "\25bc";
    color: lightsteelblue;
    padding: 4px 0;
    position: absolute;
    right: 4px;
    top: 0;
    text-align: center;
    pointer-events: none;
}

p.posText{
    text-align: center;
    color:  #523614;
    width: 100%;
    font-size: 15px;
    margin: 4px 4px;
}

div#plugboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div#plugboardInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px grey;
    width: 340px;
    height: 18px;
}

div#plugboard > p{
    padding: 0 8px;
}

button.posButton{
    width: 40px;
    height: 24px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: lightsteelblue;
    background-color: #786042;
    margin: 4px 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px grey;
}

button.posButton:hover{
    background-color: #523614;
    box-shadow: 0 4px black;
}
button.posButton:active{
    transform: translateY(2px);
}

div.information{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

h1{
    background-color: rgb(136, 136, 136);
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 8px 0;
    margin: 0 0;
}

h2.question{
    font-size: 20px;
    margin: 8px 16px;
    cursor: pointer
}

h2.question::after{
    content: "\25bc";
}

h2.question[data-expanded = "true"]::after{
    content: "\25b2";
}

p.answer{
    font-size: 15px;
    margin: 0px 16px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 4px 0;
    background-color: rgb(136, 136, 136);
}

input.plugboard{
    width: 32px;
    height: 16px;
    background-color: #786042;
    color: lightsteelblue;
    border: none;
    margin: 0 0;
    padding: 1px 1px;
}